@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.gradient-custom {
    background: url("bg.png"), -webkit-linear-gradient(bottom,#2c3d4f, #19bc9c);
    }

.btn-background {
    background-color: #19bc9c;
    color: #fff;
    text-transform: uppercase;
}

.btn-background:hover {
    background-color: #000 !important;
    color: #fff !important;
}

.title-form {
    text-align: left;
}

html {
    font-family: 'Poppins', sans-serif !important;
}

.font-heading {
    font-size: 35px;
    font-weight: 600!important;
}

/* ======= Toast message ======== */

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast+.toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* POPUP */

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup {
    width: 350px;
    height: 300px;
    padding: 30px 20px;
    background: #f5f5f5;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 10000;
    text-align: center;
    transform: translate(-50%, -50%) scale(0);
    transition:  all 1000ms ease-in-out,
}

.popupActive {
    transform: translate(-50%, -50%) scale(1);
    transition:  all 1000ms ease-in-out,
}

.popup .icon {
    margin: 5px 8px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}

.popup .title {
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 600;
}

.popup .description {
    color: #222;
    font-size: 15px;
    padding: 5px;
}

.popup .dismiss-btn {
    margin-top: 15px;
}

.popup .dismiss-btn button {
    padding: 10px 20px;
    background: #111;
    color: #f5f5f5;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.popup .dismiss-btn button:hover {
    color: #111;
    background-color: #f5f5f5;
}

  /* ---------------------- OverLay ------------------------ */
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: none;
    animation: fadeInDown linear 0.2s;
  }